.Login {
    /*text-align: center;*/
  
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form input{
    width: 300px;
    height: 20px;
    margin: 10px;
    font-size: 15px;
  }

  .wrapper { 
    border : 2px solid #000; 
    overflow:hidden;
  }
  
  .wrapper div {
    height: 220px;
    padding: 10px;
  }

  #one {
    background-color: lightcyan;
    float:left; 
    margin-right:30px;
    width:200px;
    height: 220px;
    border-right:2px solid #000;
    text-align: center;
  }
  #two { 
    background-color: white;
    /*overflow:hidden;*/
    /*border:2px dashed #ccc;*/
    width:100x;
    min-height:10px;
    overflow-y:auto;
  }


  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 400px;
    margin: 20px;
    text-align: center;
    font-family: arial;
    display: inline-block;
    padding: 10px;
  }
  
  .rent {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: 20px;
    width: 300px;
    font-size: 18px;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    
  }
  
  .card button:hover {
    opacity: 0.7;
    width: 300px;
  }

  .smallCard{
    width:300px;
    height: 40px;
    border: 2px solid grey;
    border-radius: 15px;
    text-align: center;
  }

  .spec-1 {
    color: #938787;
    font-size: 15px
  }
  
  #updateInput{
    width: 100px;
    height: 20px;
    margin-bottom: 10px;
  }

  p { margin:0 }

  h1 { text-align: center; }